@import url('https://unpkg.com/css.gg@2.0.0/icons/css/arrow-up-r.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/arrow-down-r.css');

body {
    background-color: #070d0d;
    font-family: sans-serif;
    color: #fff;
}

ul {
    padding: 10px;
    background-color: #fff;
}

li {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border: 2px solid #b30049;
    gap: 5px;
    padding: 2px;
    margin: 2px;
    color: #070d0d;
    font-size: 1.2rem;
}

p {
    margin: 2px;
    color: #070d0d;
    width: 20rem;
}
date{
    width: 8rem;
}

#new-task-input {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    background-color: #fff;
}

input {
    font-size: 1.2rem;
    border: 2px solid #fff;
    padding: 6px;
}

input[type="text"] {
    flex-basis: 80%;
}
input[type="date"] {
    flex-basis: 50%;
}
input[type="button"]#new-task-button {
    flex-grow: 1;
}

input[type="button"] {
    background: #dcdcdc;
    color: black;
}

.complete [type="button"].done-button{
    background: teal;
    color: #fff;
}

.complete date{
    color: rgba(0, 255, 30, 0.552);
}
.overdue date{
    color: red;
}

.due_today date{
    color: orange;
}

.complete p.task, .complete date{
    color: #dcdcdc;
}

.important .task{
    text-decoration: underline;
    font-weight: bold;

}

.important [type="button"].importance-button {
    background: teal;
    color: #fff;
}




